For this project, you will be working with the Hop Teaming dataset, a dataset which aims to capture referrals between healthcare providers based on Medicare claims. 
We will be using multiple data sets HOP_teaming(hospitals referal), NEPPS(doctors NPI and specifics), Taxonomy(details about the taxonomy code in NPESS) and the ZIP_CBSA(locations and connecting to doctors)

In [1]:
import pandas as pd
import sqlite3
from tqdm.notebook import tqdm

In [60]:
#reading HOP.csv for overveiw and glance
chunks = pd.read_csv('data/DocGraph_Hop_Teaming_2018.csv',
           chunksize = 10000)

In [61]:
chunks

In [62]:
chunk = next(chunks)

In [63]:
chunk

,from_npi,to_npi,patient_count,transaction_count,average_day_wait,std_day_wait
0,1508062167,1730166109,350,370,53.922,72.612
1,1508065640,1730166109,25,25,49.800,55.006
2,1508052093,1730166109,16,16,109.500,70.593
3,1508172545,1730166109,14,14,103.357,75.483
4,1508285131,1730166109,20,21,89.952,89.880
...,...,...,...,...,...,...
9995,1508026980,1730477589,36,46,64.239,77.845
9996,1497997050,1730477589,38,43,40.395,60.289
9997,1497977268,1730477761,14,14,37.857,72.533
9998,1508024217,1730477811,12,12,59.000,46.043
9999,1508805722,1730477811,26,26,117.500,82.087

We want to eliminate "accidental" referrals, so filter the hop teaming data so that the transaction_count is at least 50 and the average_day_wait is less than 50.

In [64]:
chunk[(chunk['transaction_count'] >= 50) & (chunk['average_day_wait']<50)]

,from_npi,to_npi,patient_count,transaction_count,average_day_wait,std_day_wait
7,1508085911,1730166125,58,67,23.925,43.923
10,1508167040,1730166125,51,51,28.196,52.876
15,1508863549,1730166125,340,391,18.302,42.422
18,1508867870,1730166125,50,79,12.658,26.402
25,1508011040,1730166224,132,145,8.579,28.053
...,...,...,...,...,...,...
9951,1508804113,1730476490,97,102,32.882,54.294
9976,1508834862,1730476979,53,60,34.983,54.899
9979,1508118555,1730476995,84,91,22.791,38.622
9982,1508131087,1730477225,96,323,3.613,21.439
9985,1508809427,1730477308,321,337,1.000,12.414

In [65]:
#Reading the NEPSS_NPI for glance
chunks_npi = pd.read_csv('data/npidata_pfile_20050523-20230212.csv',
           chunksize = 10000)

In [66]:
chunk_npi = next(chunks_npi) #to explore the chunk as df
chunk_npi

C:\Users\upadh\AppData\Local\Temp\ipykernel_384\3734988901.py:1: DtypeWarning: Columns (17,24,64,68,71,72,73,74,75,76,77,78,79,80,81,82,83,85,86,87,89,90,147,151,155,157,159,161,163,165,167,169,170,171,174,175,178,314) have mixed types. Specify dtype option on import or set low_memory=False.
  chunk_npi = next(chunks_npi)

,NPI,Entity Type Code,Replacement NPI,Employer Identification Number (EIN),Provider Organization Name (Legal Business Name),Provider Last Name (Legal Name),Provider First Name,Provider Middle Name,Provider Name Prefix Text,Provider Name Suffix Text,...,Healthcare Provider Taxonomy Group_7,Healthcare Provider Taxonomy Group_8,Healthcare Provider Taxonomy Group_9,Healthcare Provider Taxonomy Group_10,Healthcare Provider Taxonomy Group_11,Healthcare Provider Taxonomy Group_12,Healthcare Provider Taxonomy Group_13,Healthcare Provider Taxonomy Group_14,Healthcare Provider Taxonomy Group_15,Certification Date
0,1740284231,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1346245800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1487650776,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1033113022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1043216138,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,1558360792,1.0,NaN,NaN,NaN,RODGERS,SUSAN,V,MRS.,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9996,1467451609,1.0,NaN,NaN,NaN,HILTON,BRET,D,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9997,1346249596,1.0,NaN,NaN,NaN,STANLEY,GARY,E,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9998,1982603130,1.0,NaN,NaN,NaN,SLETTEN,CHRISTINA,A.,DR.,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9999,1336148584,1.0,NaN,NaN,NaN,HANCOCK,WILLIAM,E,DR.,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [124]:
#getting the feel of the read in chunk 
chunk_npi.info()
chunk_npi.shape #it has 10K rows and 330 columns
list(chunk_npi.columns) getting the name of the columns as a list to see

(10000, 330)

In [126]:
#getting the feel of the read in chunk 
chunk_npi['Provider Organization Name (Legal Business Name)'].value_counts()
chunk_npi['Healthcare Provider Taxonomy Code_1'].value_counts()
chunk_npi[ 'Healthcare Provider Primary Taxonomy Switch_1'].value_counts()

Y    9001
X     374
N      70
Name: Healthcare Provider Primary Taxonomy Switch_1, dtype: int64

In [68]:
#subsetting the df to just keeo the coulmns needed.
npi = chunk_npi[['NPI',
 'Entity Type Code',
 'Provider Organization Name (Legal Business Name)',
 'Provider Last Name (Legal Name)',
 'Provider First Name',
 'Provider Middle Name',
 'Provider Name Prefix Text',
 'Provider Name Suffix Text',
 'Provider Credential Text',
 'Provider First Line Business Practice Location Address',
 'Provider Second Line Business Practice Location Address',
 'Provider Business Practice Location Address City Name',
 'Provider Business Practice Location Address State Name',
 'Provider Business Practice Location Address Postal Code',
           'Healthcare Provider Taxonomy Code_1',
           'Healthcare Provider Primary Taxonomy Switch_1',
           'Healthcare Provider Taxonomy Code_2',
           'Healthcare Provider Primary Taxonomy Switch_2', 
           'Healthcare Provider Taxonomy Code_3',
           'Healthcare Provider Primary Taxonomy Switch_3',     
           'Healthcare Provider Taxonomy Code_4',
           'Healthcare Provider Primary Taxonomy Switch_4',
           'Healthcare Provider Taxonomy Code_5',
           'Healthcare Provider Primary Taxonomy Switch_5',
            'Healthcare Provider Taxonomy Code_6',
           'Healthcare Provider Primary Taxonomy Switch_6',
        'Healthcare Provider Taxonomy Code_7',
           'Healthcare Provider Primary Taxonomy Switch_7',
                 'Healthcare Provider Taxonomy Code_8',
           'Healthcare Provider Primary Taxonomy Switch_8',
                 'Healthcare Provider Taxonomy Code_9',
           'Healthcare Provider Primary Taxonomy Switch_9',
                 'Healthcare Provider Taxonomy Code_10',
           'Healthcare Provider Primary Taxonomy Switch_10',
                 'Healthcare Provider Taxonomy Code_11',
           'Healthcare Provider Primary Taxonomy Switch_11',
                 'Healthcare Provider Taxonomy Code_12',
           'Healthcare Provider Primary Taxonomy Switch_12',
                 'Healthcare Provider Taxonomy Code_13',
           'Healthcare Provider Primary Taxonomy Switch_13',
                 'Healthcare Provider Taxonomy Code_14',
           'Healthcare Provider Primary Taxonomy Switch_14',
                 'Healthcare Provider Taxonomy Code_15',
           'Healthcare Provider Primary Taxonomy Switch_15'
            ]]

In [70]:
#scratch work to iterate over the coulmns and print the column name and values
for column in (npi.columns):
    
    # Select column contents by column
    # name using [] operator
    columnSeriesObj = npi[column]
    print('Column Name : ', column)
    print('Column Contents : ', columnSeriesObj.values)

Column Name :  NPI
Column Contents :  [1740284231 1346245800 1487650776 ... 1346249596 1982603130 1336148584]
Column Name :  Entity Type Code
Column Contents :  [nan nan nan ...  1.  1.  1.]
Column Name :  Provider Organization Name (Legal Business Name)
Column Contents :  [nan nan nan ... nan nan nan]
Column Name :  Provider Last Name (Legal Name)
Column Contents :  [nan nan nan ... 'STANLEY' 'SLETTEN' 'HANCOCK']
Column Name :  Provider First Name
Column Contents :  [nan nan nan ... 'GARY' 'CHRISTINA' 'WILLIAM']
Column Name :  Provider Middle Name
Column Contents :  [nan nan nan ... 'E' 'A.' 'E']
Column Name :  Provider Name Prefix Text
Column Contents :  [nan nan nan ... nan 'DR.' 'DR.']
Column Name :  Provider Name Suffix Text
Column Contents :  [nan nan nan ... nan nan nan]
Column Name :  Provider Credential Text
Column Contents :  [nan nan nan ... 'M.D.' 'DDS' 'MD']
Column Name :  Provider First Line Business Practice Location Address
Column Contents :  [nan nan nan ... '920 OLIVER RD' '6685 DELMONICO DR'
 '10330 MERIDIAN AVE N']
Column Name :  Provider Second Line Business Practice Location Address
Column Contents :  [nan nan nan ... 'SUITE 3' 'SUITE C' '#370']
Column Name :  Provider Business Practice Location Address City Name
Column Contents :  [nan nan nan ... 'MONROE' 'COLORADO SPRINGS' 'SEATTLE']
Column Name :  Provider Business Practice Location Address State Name
Column Contents :  [nan nan nan ... 'LA' 'CO' 'WA']
Column Name :  Provider Business Practice Location Address Postal Code
Column Contents :  [           nan            nan            nan ... 7.12015702e+08
 8.09196802e+08 9.81339451e+08]
Column Name :  Healthcare Provider Taxonomy Code_1
Column Contents :  [nan nan nan ... '208000000X' '122300000X' '207W00000X']
Column Name :  Healthcare Provider Primary Taxonomy Switch_1
Column Contents :  [nan nan nan ... 'Y' 'Y' 'Y']
Column Name :  Healthcare Provider Taxonomy Code_2
Column Contents :  [nan nan nan ... nan nan nan]
Column Name :  Healthcare Provider Primary Taxonomy Switch_2
Column Contents :  [nan nan nan ... nan nan nan]
Column Name :  Healthcare Provider Taxonomy Code_3
Column Contents :  [nan nan nan ... nan nan nan]
Column Name :  Healthcare Provider Primary Taxonomy Switch_3
Column Contents :  [nan nan nan ... nan nan nan]
Column Name :  Healthcare Provider Taxonomy Code_4
Column Contents :  [nan nan nan ... nan nan nan]
Column Name :  Healthcare Provider Primary Taxonomy Switch_4
Column Contents :  [nan nan nan ... nan nan nan]
Column Name :  Healthcare Provider Taxonomy Code_5
Column Contents :  [nan nan nan ... nan nan nan]
Column Name :  Healthcare Provider Primary Taxonomy Switch_5
Column Contents :  [nan nan nan ... nan nan nan]
Column Name :  Healthcare Provider Taxonomy Code_6
Column Contents :  [nan nan nan ... nan nan nan]
Column Name :  Healthcare Provider Primary Taxonomy Switch_6
Column Contents :  [nan nan nan ... nan nan nan]
Column Name :  Healthcare Provider Taxonomy Code_7
Column Contents :  [nan nan nan ... nan nan nan]
Column Name :  Healthcare Provider Primary Taxonomy Switch_7
Column Contents :  [nan nan nan ... nan nan nan]
Column Name :  Healthcare Provider Taxonomy Code_8
Column Contents :  [nan nan nan ... nan nan nan]
Column Name :  Healthcare Provider Primary Taxonomy Switch_8
Column Contents :  [nan nan nan ... nan nan nan]
Column Name :  Healthcare Provider Taxonomy Code_9
Column Contents :  [nan nan nan ... nan nan nan]
Column Name :  Healthcare Provider Primary Taxonomy Switch_9
Column Contents :  [nan nan nan ... nan nan nan]
Column Name :  Healthcare Provider Taxonomy Code_10
Column Contents :  [nan nan nan ... nan nan nan]
Column Name :  Healthcare Provider Primary Taxonomy Switch_10
Column Contents :  [nan nan nan ... nan nan nan]
Column Name :  Healthcare Provider Taxonomy Code_11
Column Contents :  [nan nan nan ... nan nan nan]
Column Name :  Healthcare Provider Primary Taxonomy Switch_11
Column Contents :  [nan nan nan ... nan nan nan]
Column Name :  Healthcare Provider Taxonomy Code_12
Column Contents :  [nan nan nan ... nan nan nan]
Column Name :  Healthcare Provider Primary Taxonomy Switch_12
Column Contents :  [nan nan nan ... nan nan nan]
Column Name :  Healthcare Provider Taxonomy Code_13
Column Contents :  [nan nan nan ... nan nan nan]
Column Name :  Healthcare Provider Primary Taxonomy Switch_13
Column Contents :  [nan nan nan ... nan nan nan]
Column Name :  Healthcare Provider Taxonomy Code_14
Column Contents :  [nan nan nan ... nan nan nan]
Column Name :  Healthcare Provider Primary Taxonomy Switch_14
Column Contents :  [nan nan nan ... nan nan nan]
Column Name :  Healthcare Provider Taxonomy Code_15
Column Contents :  [nan nan nan ... nan nan nan]
Column Name :  Healthcare Provider Primary Taxonomy Switch_15
Column Contents :  [nan nan nan ... nan nan nan]

In [129]:
x = []

for column in (npi.columns):
#for i in range (1,16):
    columnSeriesObj = npi[column]
    if f'Healthcare Provider Primary Taxonomy Switch_1' == 'Y',
        x.append['Healthcare Provider Taxonomy Code_1'.values]
    elif
        f'Healthcare Provider Primary Taxonomy Switch_2' == 'Y',
        x.append['Healthcare Provider Taxonomy Code_2'.values]
    elif
    f'Healthcare Provider Primary Taxonomy Switch_3' == 'Y',
    x.append['Healthcare Provider Taxonomy Code_3'.values]
    elif
    f'Healthcare Provider Primary Taxonomy Switch_4' == 'Y',
    x.append['Healthcare Provider Taxonomy Code_4'.values]
    elif
    f'Healthcare Provider Primary Taxonomy Switch_3' == 'Y',
    x.append['Healthcare Provider Taxonomy Code_3'.values]
    elif
    f'Healthcare Provider Primary Taxonomy Switch_3' == 'Y',
    x.append['Healthcare Provider Taxonomy Code_3'.values]
    elif
    f'Healthcare Provider Primary Taxonomy Switch_3' == 'Y',
    x.append['Healthcare Provider Taxonomy Code_3'.values]
    elif
    f'Healthcare Provider Primary Taxonomy Switch_3' == 'Y',
    x.append['Healthcare Provider Taxonomy Code_3'.values]
    else
    

print(x)
#use the loop for selecting the rows with switch as 'Y' and collect all codes in code column to create tiny tables and then concat them

SyntaxError: invalid syntax (4129370470.py, line 6)

In [136]:
#Steps for my loop
x = []
for i in range [1,16]:
    if f'Healthcare Provider Primary Taxonomy Switch_{i}' == 'Y':
        x.append[f'Healthcare Provider Taxonomy Code_{i}'.values]
    elif f'Healthcare Provider Primary Taxonomy Switch_{i+1}' == 'Y':
        x.append[f'Healthcare Provider Taxonomy Code_{i+1}'.values]
    else:
        x.append['none']

TypeError: 'type' object is not subscriptable

In [137]:
# to get all the "Y" taxonomy codes
x = []
for i in range (1,16):
    x.append(npi[npi[f'Healthcare Provider Primary Taxonomy Switch_{i}' ]== 'Y'][['NPI',
         'Entity Type Code',
         'Provider Organization Name (Legal Business Name)',
         'Provider Last Name (Legal Name)',
         'Provider First Name',
         'Provider Middle Name',
         'Provider Name Prefix Text',
         'Provider Name Suffix Text',
         'Provider Credential Text',
         'Provider First Line Business Practice Location Address',
         'Provider Second Line Business Practice Location Address',
         'Provider Business Practice Location Address City Name',
         'Provider Business Practice Location Address State Name',
         'Provider Business Practice Location Address Postal Code', 
        f'Healthcare Provider Taxonomy Code_{i}']].rename(columns={f'Healthcare Provider Taxonomy Code_{i}':'Taxonomy_code'}))

In [117]:
#x is coming as multiple df so to stich them together use the pd.concat 
yes_code = pd.concat(x)
yes_code.shape

(9066, 15)

In [120]:
pd.merge(left = npi[['NPI',
         'Entity Type Code',
         'Provider Organization Name (Legal Business Name)',
         'Provider Last Name (Legal Name)',
         'Provider First Name',
         'Provider Middle Name',
         'Provider Name Prefix Text',
         'Provider Name Suffix Text',
         'Provider Credential Text',
         'Provider First Line Business Practice Location Address',
         'Provider Second Line Business Practice Location Address',
         'Provider Business Practice Location Address City Name',
         'Provider Business Practice Location Address State Name',
         'Provider Business Practice Location Address Postal Code']], right = yes_code, how = "left").drop_duplicates()

,NPI,Entity Type Code,Provider Organization Name (Legal Business Name),Provider Last Name (Legal Name),Provider First Name,Provider Middle Name,Provider Name Prefix Text,Provider Name Suffix Text,Provider Credential Text,Provider First Line Business Practice Location Address,Provider Second Line Business Practice Location Address,Provider Business Practice Location Address City Name,Provider Business Practice Location Address State Name,Provider Business Practice Location Address Postal Code,Taxonomy_code
0,1740284231,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1346245800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1487650776,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1033113022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1043216138,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,1558360792,1.0,NaN,RODGERS,SUSAN,V,MRS.,NaN,CPHT,1919 S LOOP 256,NaN,PALESTINE,TX,758015915.0,183700000X
9996,1467451609,1.0,NaN,HILTON,BRET,D,NaN,NaN,PA,280 RIVER PARK DR,SUITE 120,PROVO,UT,846045764.0,363A00000X
9997,1346249596,1.0,NaN,STANLEY,GARY,E,NaN,NaN,M.D.,920 OLIVER RD,SUITE 3,MONROE,LA,712015702.0,208000000X
9998,1982603130,1.0,NaN,SLETTEN,CHRISTINA,A.,DR.,NaN,DDS,6685 DELMONICO DR,SUITE C,COLORADO SPRINGS,CO,809196802.0,122300000X
9999,1336148584,1.0,NaN,HANCOCK,WILLIAM,E,DR.,NaN,MD,10330 MERIDIAN AVE N,#370,SEATTLE,WA,981339451.0,207W00000X

In [122]:
npi[npi['NPI']== 1477551547]
npi.loc[8422]
npi['NPI'].nunique()

10000

In [93]:
npi['Healthcare Provider Primary Taxonomy Switch_1'].value_counts(dropna = False)

Y      9001
NaN     555
X       374
N        70
Name: Healthcare Provider Primary Taxonomy Switch_1, dtype: int64

In [106]:
#finding the switch with X
with_x = []
for i in range (1,16):
    with_x.append(npi[npi[f'Healthcare Provider Primary Taxonomy Switch_{i}' ]== 'N'][['NPI',
         'Entity Type Code',
         'Provider Organization Name (Legal Business Name)',
         'Provider Last Name (Legal Name)',
         'Provider First Name',
         'Provider Middle Name',
         'Provider Name Prefix Text',
         'Provider Name Suffix Text',
         'Provider Credential Text',
         'Provider First Line Business Practice Location Address',
         'Provider Second Line Business Practice Location Address',
         'Provider Business Practice Location Address City Name',
         'Provider Business Practice Location Address State Name',
         'Provider Business Practice Location Address Postal Code', 
        f'Healthcare Provider Taxonomy Code_{i}']].rename(columns={f'Healthcare Provider Taxonomy Code_{i}':'Taxonomy_code'}))

In [107]:
pd.concat(with_x)

,NPI,Entity Type Code,Provider Organization Name (Legal Business Name),Provider Last Name (Legal Name),Provider First Name,Provider Middle Name,Provider Name Prefix Text,Provider Name Suffix Text,Provider Credential Text,Provider First Line Business Practice Location Address,Provider Second Line Business Practice Location Address,Provider Business Practice Location Address City Name,Provider Business Practice Location Address State Name,Provider Business Practice Location Address Postal Code,Taxonomy_code
597,1083617542,1.0,NaN,PARKER,MELODIE,NaN,NaN,NaN,LCSW,48 BURD ST,STE 201,NYACK,NY,109603226.0,1041C0700X
740,1336142231,1.0,NaN,RODRIGUEZ,MATTHEW,JOHN,DR.,NaN,DOCTOR OF PHARMACY,1700 CERRILLOS RD,NaN,SANTA FE,NM,875053554.0,183500000X
832,1013910892,1.0,NaN,LEJEUNE,EMIKO,JANE,NaN,NaN,M.S.,1740 MEMORIAL DR,NaN,CLARKSVILLE,TN,370434561.0,231H00000X
988,1003819632,1.0,NaN,ROYER,GAYLA,M,DR.,NaN,MD,1317 4TH AVE S,NaN,BIRMINGHAM,AL,352331408.0,208C00000X
1151,1477556652,1.0,NaN,BRUNO,EDWIN,JAY,DR.,NaN,D.P.M.,277 STATE ST,STE 1B,BANGOR,ME,44015440.0,213E00000X
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1063,1538162540,1.0,NaN,ROUCHON,DEBORAH,S,MS.,NaN,CRNA,1009 OAK CIR,NaN,PALM HARBOR,FL,346836627.0,367500000X
1063,1538162540,1.0,NaN,ROUCHON,DEBORAH,S,MS.,NaN,CRNA,1009 OAK CIR,NaN,PALM HARBOR,FL,346836627.0,367500000X
1063,1538162540,1.0,NaN,ROUCHON,DEBORAH,S,MS.,NaN,CRNA,1009 OAK CIR,NaN,PALM HARBOR,FL,346836627.0,367500000X
1063,1538162540,1.0,NaN,ROUCHON,DEBORAH,S,MS.,NaN,CRNA,1009 OAK CIR,NaN,PALM HARBOR,FL,346836627.0,367500000X
1063,1538162540,1.0,NaN,ROUCHON,DEBORAH,S,MS.,NaN,CRNA,1009 OAK CIR,NaN,PALM HARBOR,FL,346836627.0,367500000X

In [ ]:
with_x = []
for i in range (1,16):
    with_x.append(npi[npi[f'Healthcare Provider Primary Taxonomy Switch_{i}' ] != 'N'][['NPI',
         'Entity Type Code',
         'Provider Organization Name (Legal Business Name)',
         'Provider Last Name (Legal Name)',
         'Provider First Name',
         'Provider Middle Name',
         'Provider Name Prefix Text',
         'Provider Name Suffix Text',
         'Provider Credential Text',
         'Provider First Line Business Practice Location Address',
         'Provider Second Line Business Practice Location Address',
         'Provider Business Practice Location Address City Name',
         'Provider Business Practice Location Address State Name',
         'Provider Business Practice Location Address Postal Code', 
        f'Healthcare Provider Taxonomy Code_{i}']].rename(columns={f'Healthcare Provider Taxonomy Code_{i}':'Taxonomy_code'}))

In [ ]:
pd.merge(left = npi[['NPI',
         'Entity Type Code',
         'Provider Organization Name (Legal Business Name)',
         'Provider Last Name (Legal Name)',
         'Provider First Name',
         'Provider Middle Name',
         'Provider Name Prefix Text',
         'Provider Name Suffix Text',
         'Provider Credential Text',
         'Provider First Line Business Practice Location Address',
         'Provider Second Line Business Practice Location Address',
         'Provider Business Practice Location Address City Name',
         'Provider Business Practice Location Address State Name',
         'Provider Business Practice Location Address Postal Code']], right = yes_code, how = "left").drop_duplicates()

In [6]:
#reading CBSA.csv
cbsa_chunks = pd.read_excel('data/ZIP_TRACT_122021.xlsx')

In [19]:
cbsa_chunks.head(10)
cbsa_chunks.shape

(172177, 8)

#to drop a table fro db 
db = sqlite3.connect('data/hop_referal.sqlite')
db.execute("DROP TABLE cbsa")
#DROP TABLE IF EXISTS [schema_name.]cbsa;
#DROP TABLE cbsa

In [21]:
pd.read_csv('data/nucc_taxonomy_230.csv', encoding = "latin")

,Code,Grouping,Classification,Specialization,Definition,Notes,Display Name,Section
0,193200000X,Group,Multi-Specialty,NaN,A business group of one or more individual pra...,[7/1/2003: new],Multi-Specialty Group,Individual
1,193400000X,Group,Single Specialty,NaN,A business group of one or more individual pra...,[7/1/2003: new],Single Specialty Group,Individual
2,207K00000X,Allopathic & Osteopathic Physicians,Allergy & Immunology,NaN,An allergist-immunologist is trained in evalua...,"Source: American Board of Medical Specialties,...",Allergy & Immunology Physician,Individual
3,207KA0200X,Allopathic & Osteopathic Physicians,Allergy & Immunology,Allergy,"A physician who specializes in the diagnosis, ...",Source: National Uniform Claim Committee,Allergy Physician,Individual
4,207KI0005X,Allopathic & Osteopathic Physicians,Allergy & Immunology,Clinical & Laboratory Immunology,An allergy and immunology physician who specia...,"Source: National Uniform Claim Committee, 2022...",Clinical & Laboratory Immunology (Allergy & Im...,Individual
...,...,...,...,...,...,...,...,...
868,343800000X,Transportation Services,Secured Medical Transport (VAN),NaN,A public or privately owned transportation ser...,NaN,Secured Medical Transport (VAN),Non-Individual
869,344600000X,Transportation Services,Taxi,NaN,A land commercial vehicle used for the transpo...,NaN,Taxi,Non-Individual
870,347D00000X,Transportation Services,Train,NaN,An organization or business licensed to provid...,NaN,Train,Non-Individual
871,347E00000X,Transportation Services,Transportation Broker,NaN,An organization that provides transportation f...,Source: Section 6083 of the Deficit Reduction ...,Transportation Broker,Non-Individual
872,342000000X,Transportation Services,Transportation Network Company,NaN,A ride-sharing company that provides prearrang...,"Source: National Uniform Claim Committee, www...",Transportation Network Company,Non-Individual

In [38]:
columns_to_use = ['NPI',
 'Entity Type Code',
 'Provider Organization Name (Legal Business Name)',
 'Provider Last Name (Legal Name)',
 'Provider First Name',
 'Provider Middle Name',
 'Provider Name Prefix Text',
 'Provider Name Suffix Text',
 'Provider Credential Text',
 'Provider First Line Business Practice Location Address',
 'Provider Second Line Business Practice Location Address',
 'Provider Business Practice Location Address City Name',
 'Provider Business Practice Location Address State Name',
 'Provider Business Practice Location Address Postal Code',
           'Healthcare Provider Taxonomy Code_1',
           'Healthcare Provider Primary Taxonomy Switch_1',
           'Healthcare Provider Taxonomy Code_2',
           'Healthcare Provider Primary Taxonomy Switch_2', 
           'Healthcare Provider Taxonomy Code_3',
           'Healthcare Provider Primary Taxonomy Switch_3',     
           'Healthcare Provider Taxonomy Code_4',
           'Healthcare Provider Primary Taxonomy Switch_4',
           'Healthcare Provider Taxonomy Code_5',
           'Healthcare Provider Primary Taxonomy Switch_5',
            'Healthcare Provider Taxonomy Code_6',
           'Healthcare Provider Primary Taxonomy Switch_6',
        'Healthcare Provider Taxonomy Code_7',
           'Healthcare Provider Primary Taxonomy Switch_7',
                 'Healthcare Provider Taxonomy Code_8',
           'Healthcare Provider Primary Taxonomy Switch_8',
                 'Healthcare Provider Taxonomy Code_9',
           'Healthcare Provider Primary Taxonomy Switch_9',
                 'Healthcare Provider Taxonomy Code_10',
           'Healthcare Provider Primary Taxonomy Switch_10',
                 'Healthcare Provider Taxonomy Code_11',
           'Healthcare Provider Primary Taxonomy Switch_11',
                 'Healthcare Provider Taxonomy Code_12',
           'Healthcare Provider Primary Taxonomy Switch_12',
                 'Healthcare Provider Taxonomy Code_13',
           'Healthcare Provider Primary Taxonomy Switch_13',
                 'Healthcare Provider Taxonomy Code_14',
           'Healthcare Provider Primary Taxonomy Switch_14',
                 'Healthcare Provider Taxonomy Code_15',
           'Healthcare Provider Primary Taxonomy Switch_15'
            ]

columns_kept = ['NPI',
         'Entity Type Code',
         'Provider Organization Name (Legal Business Name)',
         'Provider Last Name (Legal Name)',
         'Provider First Name',
         'Provider Middle Name',
         'Provider Name Prefix Text',
         'Provider Name Suffix Text',
         'Provider Credential Text',
         'Provider First Line Business Practice Location Address',
         'Provider Second Line Business Practice Location Address',
         'Provider Business Practice Location Address City Name',
         'Provider Business Practice Location Address State Name',
         'Provider Business Practice Location Address Postal Code']
#          'taxonomy_code']

In [51]:
for chunk in tqdm(pd.read_csv('data/npidata_pfile_20050523-20230212.csv', usecols = columns_to_use,
           chunksize = 10000)):
    x_select = []
    for i in range (1,16):
        x_select.append(chunk[chunk[f'Healthcare Provider Primary Taxonomy Switch_{i}' ] == 'Y']
                    [['NPI',
         'Entity Type Code',
         'Provider Organization Name (Legal Business Name)',
         'Provider Last Name (Legal Name)',
         'Provider First Name',
         'Provider Middle Name',
         'Provider Name Prefix Text',
         'Provider Name Suffix Text',
         'Provider Credential Text',
         'Provider First Line Business Practice Location Address',
         'Provider Second Line Business Practice Location Address',
         'Provider Business Practice Location Address City Name',
         'Provider Business Practice Location Address State Name',
         'Provider Business Practice Location Address Postal Code', 
        f'Healthcare Provider Taxonomy Code_{i}']].rename(columns={f'Healthcare Provider Taxonomy Code_{i}':'Taxonomy_code'}))

0it [00:00, ?it/s]

C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (71,74,75,78,79,82,83,86,87,90) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,67,70,71,74,75,78,79,82,83,86,87,90,91,94) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,71,74,75,78,79,82,83,86,87,90,91,94) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,79,82,83,86,87,90,91,94,95,98,99,102) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,67,70,71,74,75,78,79,82,83,86,87,90) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,71,74,75,78,79,82,83,86) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,67,70,71,74,75,78) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,71,74,75,78,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (71,74,75,78,79,82,83,86,87,90,91,94,95,98,99,102) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,71,74,75,78,79,82,83,86,87,90,91,94,95,98,99,102) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,71,74,75,78,79,82,83,86,87,90) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,71,74,75,78,79,82,83,86,87,90,91,94,95,98) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,71,74,75,78,79,82,83,86,87,90,91,94) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,67,70,71,74,75,78,79,82,83,86,87,90,91,94,95,98,99,102) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (63,66,67,70,71,74,75,78,79,82,83,86,87,90) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (67,70,71,74) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (71,74,75,78,79,82,83,86) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,63,66,67,70,71,74,75,78,79,82,83,86,87,90,91,94) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,67,70,71,74,75,78,79,82,83,86,87,90,91,94) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,71,74,75,78,79,82,83,86,87,90,91,94) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,71,74,75,78,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (63,66,67,70,71,74,75,78,79,82,83,86,87,90,91,94,95,98,99,102) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,71,74,75,78,79,82,83,86,87,90,91,94) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,63,66,67,70,71,74,75,78,79,82,83,86,87,90,91,94) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,67,70,71,74,75,78,79,82,83,86,87,90,91,94) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (67,70,71,74,75,78,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,71,74,75,78,79,82) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,63,66,67,70,71,74,75,78,79,82,83,86,87,90,91,94) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,63,66,67,70,71,74) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (67,70,71,74,75,78,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (67,70,71,74,75,78,79,82,83,86,87,90,91,94) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (63,66,67,70,71,74,75,78,79,82) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,71,74,75,78,79,82,83,86) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,75,78,79,82,83,86) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,71,74,75,78,79,82,83,86,87,90) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (75,78,79,82,83,86,87,90,91,94,95,98) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:

C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,75,78,79,82,83,86,87,90,91,94,95,98) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (63,66,67,70,71,74,75,78,79,82,83,86,87,90) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,71,74,75,78,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,87,90,91,94,95,98,99,102) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,67,70,71,74,75,78,79,82,83,86,87,90) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,71,74,75,78,79,82) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,71,74,75,78,79,82,83,86,87,90,91,94,95,98,99,102) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,67,70,71,74,75,78) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,75,78,79,82,83,86,87,90,91,94) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,75,78,79,82,83,86,87,90,91,94,95,98) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,75,78,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,67,70,71,74,75,78,79,82,83,86,87,90) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,75,78,79,82,83,86) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,71,74,75,78,79,82,83,86,87,90,91,94,95,98) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,71,74,75,78,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,67,70,71,74,75,78,79,82,83,86,87,90) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (67,70,71,74,75,78,79,82,83,86) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,75,78,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,71,74,75,78,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,71,74,75,78,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,63,66,67,70,71,74,75,78,79,82,83,86,87,90,91,94) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,71,74,75,78) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (71,74,75,78,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (4,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (4,67,70,71,74,75,78,79,82) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (4,79,82,83,86,87,90,91,94,95,98) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (75,78,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,75,78,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,79,82,83,86,87,90,91,94,95,98,99,102) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,79,82,83,86,87,90) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (75,78,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,79,82,83,86,87,90,91,94) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (71,74,75,78,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,71,74,75,78,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:

C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,75,78,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (71,74,75,78,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,75,78,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,71,74,75,78,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (71,74,75,78,79,82,83,86,87,90,91,94,95,98,99,102) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (75,78,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,75,78,79,82,83,86,87,90,91,94,95,98) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (5,6,7,8,9,10,32,67,70,71,74,75,78,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,91,94,95,98,99,102) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,75,78,79,82,83,86,87,90,91,94,95,98,99,102) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,71,74,75,78,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (71,74,75,78,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,75,78,79,82,83,86,87,90,91,94,95,98) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:

C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (75,78,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,75,78,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,67,70,71,74,75,78,79,82,83,86,87,90,91,94,95,98,99,102) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,75,78,79,82,83,86,87,90,91,94,95,98) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,75,78,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,75,78,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,87,90,91,94) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,75,78,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,71,74,75,78,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (75,78,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,75,78,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (79,82,83,86,87,90,91,94,95,98) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,67,70,71,74,75,78,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:

C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (75,78,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,75,78,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,87,90,91,94) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,75,78,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,75,78,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,71,74,75,78,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,75,78,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (71,74,75,78,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:

C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (75,78,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,75,78,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,75,78,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,67,70,71,74,75,78,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,75,78,79,82,83,86,87,90,91,94,95,98) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,71,74,75,78,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,67,70,71,74,75,78,79,82,83,86,87,90,91,94,95,98) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,75,78,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (71,74,75,78,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:

C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,75,78,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,75,78,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,75,78,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,67,70,71,74,75,78,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (75,78,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (83,86,87,90,91,94,95,98,99,102) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (75,78,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,75,78,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,75,78,79,82,83,86,87,90,91,94,95,98,99,102) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:

C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (75,78,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,83,86,87,90,91,94,95,98,99,102) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,71,74,75,78,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,71,74,75,78,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,75,78,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,75,78,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (83,86,87,90,91,94,95,98,99,102) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,75,78,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,75,78,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,75,78,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:

C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (79,82,83,86,87,90,91,94,95,98) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (71,74,75,78,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (75,78,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,75,78,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,79,82,83,86,87,90,91,94,95,98,99,102) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,83,86,87,90) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,75,78,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,75,78,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:

C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (87,90,91,94,95,98,99,102) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,75,78,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (83,86,87,90,91,94,95,98,99,102) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (83,86,87,90,91,94,95,98,99,102) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (75,78,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,87,90,91,94,95,98,99,102) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,75,78,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:

C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,83,86,87,90,91,94,95,98,99,102) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,75,78,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (79,82,83,86,87,90,91,94) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,75,78,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,91,94,95,98,99,102) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (75,78,79,82,83,86,87,90,91,94,95,98,99,102) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (75,78,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,71,74,75,78,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (79,82,83,86,87,90,91,94,95,98,99,102) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (75,78,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,75,78,79,82,83,86,87,90,91,94,95,98,99,102) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:

C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,95,98) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,67,70,71,74,75,78,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,75,78,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,75,78,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,75,78,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (67,70,71,74,75,78,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,75,78,79,82,83,86,87,90,91,94) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (75,78,79,82,83,86,87,90,91,94,95,98,99,102) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,75,78,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,79,82,83,86,87,90,91,94,95,98) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,75,78,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (71,74,75,78,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,75,78,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:

C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (71,74,75,78,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (75,78,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:

C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,79,82,83,86,87,90,91,94,95,98,99,102) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,75,78,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,75,78,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,71,74,75,78,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (75,78,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (75,78,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (5,6,7,8,9,10,32,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:

C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (5,6,7,8,10,32,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (5,6,7,8,10) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (5,6,10,32,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (5,6,7,8,10,32,87,90,91,94,95,98,99,102) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (5,6,8,10) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (5,6,8,10,91,94,95,98,99,102) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (5,6,7,10,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (5,6,7,8,10,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (5,6,7,8,10,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (5,6,7,8,9,10,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (71,74,75,78,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (75,78,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,75,78,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:

C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (75,78,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,75,78,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (75,78,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:

C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,75,78,79,82,83,86,87,90) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,75,78,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (75,78,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,71,74,75,78,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:

C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (75,78,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (4,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,75,78,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,75,78,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:

C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,95,98,99,102) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,87,90,91,94,95,98,99,102) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (95,98,99,102) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,75,78,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:

C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
C:\Users\upadh\anaconda3\lib\site-packages\tqdm\std.py:1195: DtypeWarning: Columns (32,67,70,71,74,75,78,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:

In [52]:
yes_code = pd.concat(x_select)
npi_data = pd.merge(left = chunk[['NPI',
         'Entity Type Code',
         'Provider Organization Name (Legal Business Name)',
         'Provider Last Name (Legal Name)',
         'Provider First Name',
         'Provider Middle Name',
         'Provider Name Prefix Text',
         'Provider Name Suffix Text',
         'Provider Credential Text',
         'Provider First Line Business Practice Location Address',
         'Provider Second Line Business Practice Location Address',
         'Provider Business Practice Location Address City Name',
         'Provider Business Practice Location Address State Name',
         'Provider Business Practice Location Address Postal Code']], right = yes_code, how = "left").drop_duplicates()
npi_data.columns = [x.lower().replace(' ', '_') for x in npi_data.columns]

In [53]:
npi_data.shape
npi_data.head(5)

,npi,entity_type_code,provider_organization_name_(legal_business_name),provider_last_name_(legal_name),provider_first_name,provider_middle_name,provider_name_prefix_text,provider_name_suffix_text,provider_credential_text,provider_first_line_business_practice_location_address,provider_second_line_business_practice_location_address,provider_business_practice_location_address_city_name,provider_business_practice_location_address_state_name,provider_business_practice_location_address_postal_code,taxonomy_code
0,1942907159,1.0,NaN,FLORES,JOVAN,NaN,NaN,NaN,NaN,123 S N ST,NaN,MERCED,CA,953416818.0,225100000X
1,1851098065,2.0,EMERALD LLC,NaN,NaN,NaN,NaN,NaN,NaN,9415 E HARRY ST STE 503,NaN,WICHITA,KS,672075082.0,261QM0801X
2,1356919922,2.0,INSPIRE COUNSELING & THERAPY PLLC,NaN,NaN,NaN,NaN,NaN,NaN,5144 E SAM HOUSTON PKWY N STE 128,NaN,HOUSTON,TX,770153225.0,101YP2500X
3,1639231780,2.0,"AEGIS TREATMENT CENTERS, LLC",NaN,NaN,NaN,NaN,NaN,NaN,6500 MORRO RD STE C & D,NaN,ATASCADERO,CA,934224142.0,261QM2800X
4,1003512914,1.0,NaN,HORNE-FINDLEY,MICHELLE,NaN,NaN,NaN,LMSW,10818 QUEENS BLVD FL 5,NaN,FOREST HILLS,NY,113754748.0,104100000X

In [49]:
yes_code = pd.concat(x_select)
npi_data2 = pd.merge(left = chunk[columns_kept], right = yes_code, how = "left").drop_duplicates()
npi_data2.columns = [x.lower().replace(' ', '_') for x in npi_data2.columns] 
npi_data2
npi_data2.shape
npi_data2.head(5)

ValueError: No objects to concatenate